<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-language" content="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="ipl, t20, api, data, stats">
        <meta name="author" content="Kartik Arora">
        <meta name="publisher" content="Kartik Arora">
        <meta name="copyright" content="Kartik Arora">
        <meta name="description" content="Unofficial data api for IPL T20 statistics.">
        <meta name="page-topic" content="Data">
        <meta name="page-type" content="Statistics">
        <meta name="audience" content="Everyone">
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#4d82ff" />
        <link rel="shortcut icon" href="{{asset('images/favicon.ico')}}" />
        
        <title>{% block title %}IPL T20 Stats API{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
